.maze {
  display: grid;
  place-items: center;
}

.cell {
  display: block;
  width: 4px;
  height: 4px;
  /* border: 1px solid black; */
  /* text-align: center;
  line-height: 10px;
  font-size: 8px; */
}

.wall {
  background-color: #f85c70;
}

.visited {
  background-color: #A3C14A;
}